@model List<Doctor>

<a asp-action="Create" asp-controller="Doctores">Crear Doctor</a>

<h3>Doctores</h3>
<table class="d-lg-table table-active">
    <thead>
        <tr>
            <th>DoctorId</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Especialidad></th>
            <th>Salario</th>
            <th>Hospital</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var doctor in Model)
        {
            <tr>
                <td>@doctor.IdDoctor</td>
                <td>@doctor.Apellido</td>
                <td>@doctor.Especialidad</td>
                <td>@doctor.Salario</td>
                <td>@doctor.IdHospital</td>
                <td><a asp-action="Delete" asp-controller="Doctores" asp-route-iddoctor="@doctor.IdDoctor" class="btn btn-danger">Eliminar</a></td>
            </tr>
        }
    </tbody>
</table>